body {
  overflow-x: hidden;
  font-size: 20px;
  color: black;
}

main.col-xxl-9.col-xl-8.align-self-end {
  padding: 0px;
  width: 73%;
}

/* Titles */
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

/* Sidebar */
.sidebar {
  background-color: #B90163;
  color: #fff;
  height: 100%;
  width: 27%;
  padding-right: 0px;
  position: fixed;
  z-index: 1000;
}

.nav-item:hover {
  background-color: #8C0052;
}

.nav-link {
  color: #fff;
  font-size: 33px;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.active {
  color: #fff;
}

/* Tabs */
.nav-tabs {
  background-color: #fff;
  border-color: darkgray;
  position: fixed;
  top: 0;
  left: auto;
  width: 90rem;
  z-index: 100;
}

.nav-tabs .nav-item:hover {
  background-color: #fff;
}

.nav-tabs .nav-link{
  color: black;
  border: lightgray 1px solid;
  border-bottom: 1px solid #dee2e6;
  border-color: darkgray;
}

.nav-tabs .nav-link.active {
  border-color: darkgray;
  border-bottom-color: #fff;
}

.nav-tabs .nav-link:hover{
  color: white;
  background-color: #CC689E;
}

.nav-tabs .nav-link.active:hover {
  color: black;
  background-color: #fff;
  border-bottom-color: #fff !important;
}

/* Cards */
.event-card {
  z-index: -1;
  width: 30rem;
  margin-bottom: 30px;
  margin: none;
  border: none;
  height: auto;;
}

/* Buttons */
.btn-secondary {
  background-color: #8C0052;
  border-color: #8C0052;
  width: 250px;
  height: 70px;
  font-size: x-large;
  border-radius: 20px;
}

.btn-secondary:hover {
  background-color: #a40158;
  border-color: #a40158;
} 

/* Evenementen */
.evenementen-container {
  margin-top: 7rem;
}

/* Scrollable Row */
.row.d-flex.flex-nowrap {
  max-height: 35rem;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem;
}

.row.d-flex.flex-nowrap::-webkit-scrollbar {
  display: none;
}

.row.d-flex.flex-nowrap {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

/* Bootstrap */
.ms-n1 {
  margin-left: -0.5rem !important;
}

/* Fade */
.fade-effect {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 150px;
  pointer-events: none;
  z-index: 2;
}

.fade-left {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.fade-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.scroll-arrows {
  position: absolute;
  bottom: 100px; 
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.scroll-arrow {
  background-color: #B90163;
  border: none;
  width: 60px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border-radius: 50%; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.scroll-arrow:hover {
  background-color: #8C0052;
}

/* Timeline */	
.timeline-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.timeline-container::-webkit-scrollbar {
  display: none;
}

.timeline {
  display: flex;
  align-items: center;
  position: relative;
  height: 200px;
  width: 100%; 
  flex-grow: 1;
  padding-left: 30px; 
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #B90163;
  z-index: 1;
  transition: left 0.3s ease-out; 
}

.timeline-item {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.timeline-circle {
  width: 20px;
  height: 20px;
  background-color: #B90163;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.timeline-circle.active {
  background-color: #CC689E;
}

.timeline-box {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.timeline-box img {
  width: 100%;
  height: auto;
  border: none;
}

.timeline-box p {
  margin: 0;
  font-size: 12px;
}

.timeline-item:nth-child(odd) .timeline-box {
  bottom: 60px;
}

.timeline-item:nth-child(even) .timeline-box {
  top: 60px;
}

.timeline-details {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-details h4 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.timeline-details p {
  margin: 5px 0 0;
  font-size: 12px;
  color: #666;
}

/* detail-link */
.detail-link {
  text-decoration: none;
  width: 33rem;
  
}

.detail-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #B90163;
  border-color: #B90163;
  font-size: 20px;
}

.btn-primary:hover {
  background-color: #8C0052;
  border-color: #8C0052;
}
.btn-primary:focus {
  border-color: #8C0052 !important;
  background-color: #8C0052 !important;
}

.profile-img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

/* Spinner */
.spinner {
  width: 6rem;
  height: 6rem;
  color: #B90163;
}

/* FAB */
.fab-container {
  position: fixed;
  bottom: 20px; 
  right: 20px;  
  z-index: 1000; 
}

.fab {
  background-color: #B90163; 
  color: white;
  border: none;
  border-radius: 12px; 
  width: 56px; 
  height: 56px; 
  font-size: 32px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.fab:hover {
  background-color: #8C0052; 
}



.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  background-color: #B90163;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  max-width: 80%;
  transition: opacity 1s ease, transform 1s ease; 
}

.popup-message {
  font-size: 18px;
}

.profile-box {
  background-color: white;
  width: 550px;
  padding: 30px;
  text-align: center;
}

.profile-picture img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ccc;
}

.profile-info p {
  font-size: 16px;
  margin-bottom: 10px;
}
